apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  labels:
    app: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: 879772956301.dkr.ecr.ap-southeast-2.amazonaws.com/user20-payment:latest
          ports:
            - containerPort: 8080
          env:
            - name: SERVER_TYPE
              valueFrom:
                configMapKeyRef:
                  name: sysinfo-cm
                  key: mode
          resources:
            limits:
              cpu: "500m"
            requests:
              cpu: "250m" 
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5